@page
@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@inject IAuthenticationSchemeProvider SchemeProvider
@inject IOptionsMonitor<AuthenticationSchemeOptions> Options
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h2>Current Authentication Schemes</h2>
    <ul>
        @{
            var schemes = await SchemeProvider.GetAllSchemesAsync();
            foreach (var scheme in schemes)
            {
	            var option = Options.Get(scheme.Name);
	            <li>
		            <b>Scheme:</b> @scheme.Name -- <b>Handler:</b> @scheme.HandlerType.Name <a asp-area="" asp-controller="Auth" asp-action="Remove" asp-route-scheme="@scheme.Name">Remove</a>
		            <ul>
			            <li><b>ClaimsIssuer:</b> @option.ClaimsIssuer</li>
			            <li><b>ForwardAuthenticate:</b> @option.ForwardAuthenticate</li>
			            <li><b>ForwardChallenge:</b> @option.ForwardChallenge</li>
						<li><b>ForwardDefault:</b> @option.ForwardDefault</li>
			            <li><b>ForwardForbid:</b> @option.ForwardForbid</li>
			            <li><b>ForwardSignIn:</b> @option.ForwardSignIn</li>
			            <li><b>ForwardSignOut:</b> @option.ForwardSignOut</li>
			            <li><b>ToString:</b> @option.ToString()</li>
			            <li><b>Type:</b> @option.GetType().FullName</li>
		            </ul>
	            </li>
            }
        }
    </ul>
</div>
<div class="row">
    <h2>Add or update a scheme:</h2>
    <form asp-controller="Auth" asp-action="AddOrUpdate" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label">Scheme</label>
            <div class="col-md-10">
                <input type="text" name="scheme" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">OptionsMessage</label>
            <div class="col-md-10">
                <input type="text" name="OptionsMessage" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Add/Update</button>
            </div>
        </div>
    </form>
</div>
